---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
SortIncludes: Never
Standard: c++20
AllowShortFunctionsOnASingleLine: Inline
NamespaceIndentation: None
BreakBeforeBraces: Attach
---
Language: ObjC
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
SortIncludes: Never
BreakBeforeBraces: Attach
