[Desktop Entry]
Name=Trailer
Comment=Cross-platform PDF and image workbench
Exec=trailer %F
Icon=trailer
Type=Application
Categories=Graphics;Viewer;Office;
MimeType=application/pdf;image/png;image/jpeg;image/bmp;image/gif;image/tiff;image/webp;image/x-portable-pixmap;image/x-portable-graymap;image/x-portable-bitmap;image/x-xbitmap;image/x-xpixmap;image/vnd.microsoft.icon;
StartupNotify=true
StartupWMClass=trailer
# TODO: Add Keywords= once localization is considered
